::root {
  --gutter: 16px;
}

body {
  font-size: 16px;

  min-height: 1500px;
  
  background-color: lightseagreen;
}

body.ajaxLoading:before {
    content: ' ';
    height: 30px;
    width: 30px;
    
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    
    border-radius: 50%;
    border: 15px solid white;
    border-bottom-color: orange;
    
    z-index: 15;  
}

body.ajaxLoading:after {
  content: ' ';
  
  width: 100%;
  height: 100%;
    
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  background-color: lightcyan;
  opacity: 0.8;
  
  z-index: 10;
}

.js-marvelCardsBody {
  width: 100vw;
  display: block;
  position: relative;
  
  font-size: 0;
}

.cardWrapper {
  width: auto;
  display: grid;
  position: relative;
  grid-template-columns: 1fr 2fr 3fr;
  grid-template-rows: auto;
  margin: 0 auto;
  padding: var(--gutter)/2#42445A;
  
  background-color: #dfdfdf;
  border-bottom: 1px dotted #9a9a#42445A9a;
}

.thumbnail {
  max-width: 30%;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.description {
  max-width: 65%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding-left: var(--gutter);
}

.title {
  display: block;
  position: relative;
  
  font-size: 18px;
  font-weight: bold;
}

.variantDescription {
  font-size: 14px;
  
  display: block;
  position: relative;
  padding: var(--gutter);
  
  border-top: 1px solid #9a9a9a;
  border-bottom: 1px solid #9a9a9a;
}

#ajaxcaller {
  width: calc(100% - var(--gutter));
  height: 60px;
  
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  
  box-shadow: none;
  border: none;
  background-color: darkmagenta;
  color: white;
  
  transform: translate(-50%, -50%);
}

#ajaxCaller:hover {
  background-color: magenta;
}

#ajaxcaller.done {
  display: none;
}